html{
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'noto sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  scroll-snap-align: start;
}

/* custom reuseable class */
.custom-section{
  width: 100%;
  height: auto;
  display: block;
  padding: 70px 0;
}

.section-title{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}