html{
  font-size: 100%;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'montserrat', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom reuseable class */
.custom-section{
  width: 100%;
  height: auto;
  display: block;
  padding: 100px 0;
}